// Sækja config
@import './config';

// Hér skal nota scss @for til að ítra út klösum fyrir grid
$col: 12;
    @for $i from 1 through $col {
        .col-sm-#{$i} {
        width: (100% / $i);
        }


    /*}
    @for $i from 1 through 4 {
        .item-#{$i} { left: 20px * $i; } */

    @media (max-width: $max-width - 1) {
        padding-right: $gutter;
        padding-left: $gutter;
    }

}

